body {
    background-color: black;
    font-family: odile, serif;
    font-weight: 400;
    font-style: normal;
    color: white;
}

.title {
    font-family: le-monde-livre-classic-byol, serif;
    font-weight: 700;
    font-style: normal;
    font-size: 32px;
}

.summary {
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 20px;
}

.center {
    display: block;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}

header {
    height: 75px;
    padding: 0;
    padding-left: 2rem;
    padding-right: 1rem;
    color: white;
    background: gray;
    font-weight: bold;
    display: flex;
    align-items: center;
}

nav {
    justify-content: center;
    padding-right: 200px;

}

p {
    font-size: 20px;
}
