body {
    background-color: black;
}


.top-image {
    position: relative;
    text-align: center;
    color: white;
}

.top-caption {
    position: absolute;
    top: 10%;
    text-align: center;
}

.bottom-caption {
    position: absolute;
    top: 90%;
    text-align: center;
}


.home-gradient {
    background: rgb(68, 104, 98);
    background: radial-gradient(circle, rgba(68, 104, 98, 1) 38%, rgba(0, 0, 0, 1) 61%);
}





/*
.carousel-caption {
    top: 20%;
    transform: translateY(-50%);
    bottom: initial;
}

h5 {
    display: inline-block;
    padding: 10px;
    background: #B9121B;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }
  
  .full-screen {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  } */