.top-image {
    position: relative;
    text-align: center;
    color: white;
}

.top-caption {
    position: absolute;
    top: 10%;
    text-align: center;
}

.bottom-caption {
    position: absolute;
    top: 90%;
    text-align: center;
}


.home-gradient {
    /* background: rgb(68, 104, 98);
    background: radial-gradient(90deg, rgba(68, 104, 98, 1) 40%, rgba(0, 0, 0, 1) 60%); */
    background: rgb(0, 0, 0);
    background: linear-gradient(0deg, rgba(0, 0, 0, 1) 42%, rgba(68, 104, 98, 1) 51%, rgba(0, 0, 0, 1) 60%);
}

.h400 {
    height: 400px;
}

.mainFont {
    font-family: le-monde-livre-classic-byol, serif;
    font-weight: 500;
    font-style: normal;
}


.mainFontBold {
    font-family: le-monde-livre-classic-byol, serif;
    font-weight: 700;
    font-style: normal;
    font-size: 160px;
}

.smallFontBold {
    font-family: odile, serif;
    font-weight: 700;
    font-style: normal;
}

.smallFont {
    font-family: odile, serif;
    font-weight: 400;
    font-style: normal;
}


.floating {
	width: 357px;
	height: 257px;
	box-sizing: border-box;
	border: 1px white solid;
	border-radius: 25%;
	overflow: hidden;
	box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
	transform: translatey(0px);
	animation: float 3s ease-in-out infinite;
	/* img { width: 100%; height: auto; } */
    float: left;
    margin: 45px 10px 10px 45px;
}


@keyframes float {
	0% {
		box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
		transform: translatey(0px);
	}
	50% {
		box-shadow: 0 25px 15px 0px rgba(0,0,0,0.2);
		transform: translatey(-20px);
	}
	100% {
		box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
		transform: translatey(0px);
	}
}

section{
    scroll-snap-align: start;
    display: flex;
}

body{
    scroll-snap-type: y mandatory;
}

/*
.carousel-caption {
    top: 20%;
    transform: translateY(-50%);
    bottom: initial;
}

h5 {
    display: inline-block;
    padding: 10px;
    background: #B9121B;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }
  
  .full-screen {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  } */